/*------------*/
* {
    box-sizing: border-box;
  }

  .slider-container {
    max-width: 100vh;
    max-height: 50vh;
    margin: 6rem auto 4rem;
    height: auto;
    width: auto;
    position:sticky;
    margin: auto;
    overflow: hidden;
  }


  

  